/* google icon */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');
/********************* solution-page **************************/
.solution-wrapper .head-section {width: 100%; height: auto; background-color: var(--color-gray-0);}
.solution-wrapper .head-section .container {position: relative; display: flex; align-items: center; justify-content: flex-start; gap: 6.5rem; padding: 14rem 0;}
.solution-wrapper .head-section .container .title {display: flex;}
.solution-wrapper .head-section .container .title .sap-logo {width: 116px; height: 57px; object-fit: contain; background: url(/asset/img/SAP_logo.svg) center no-repeat;}
.solution-wrapper .head-section .container .text {color: var(--color-gray-6); font-weight: var(--fw-sub-title);}
.solution-wrapper .head-section .container .solution-img {position: absolute; top: 23rem; right: 0; width: 900px; height: 300px; background-color: var(--color-gray-3);}

.solution-wrapper .span-txt {display: flex; align-items: center; gap: 0.75rem;}
.solution-wrapper .span-txt span {color: var(--color-gray-7); font-weight: var(--fw-500); font-size: var(--fs-18);}
.solution-wrapper .span-txt span:nth-child(2) {color: var(--color-gray-3);}
.solution-wrapper .left {width: 45%; height: auto;}
.solution-wrapper .left h2 {margin-bottom: var(--el-small);}
.solution-wrapper .left span {margin-bottom: var(--el-wide);}
.solution-wrapper .right {width: 55%;}
.solution-wrapper .right>ul>li {display: flex; align-items: center; justify-content: space-around; gap: 2.25rem; padding: 3rem; margin-bottom: var(--el-normal); background-color: var(--color-gray-0); border-radius: 0.75rem;}
.solution-wrapper .right>ul>li .li-left {width: 25%; height: auto; display: flex; flex-direction: column; gap: 0.563rem;}
.solution-wrapper .right>ul>li .li-left div:nth-child(1) {width: fit-content; height: auto; padding: 0.25rem 0.375rem; border-radius: 0.25rem; font-weight: var(--fw-400); font-size: var(--fs-12); color: var(--color-gray-0); background: var(--color-violet);}
.solution-wrapper .right>ul>li .li-left div:nth-child(2) {color: var(--color-gray-9); font-weight: var(--fw-500); font-size: var(--fs-24);}
.solution-wrapper .right>ul>li .li-left div:nth-child(3) {color: var(--color-gray-6); font-weight: var(--fw-400); font-size: var(--fs-12);}
.solution-wrapper .right>ul>li .li-right {width: 75%; height: auto;}
.solution-wrapper .right>ul>li .li-right div {color: var(--color-gray-7); line-height: 160%; font-weight: var(--fw-400); font-size: var(--fs-15);}

.solution-wrapper .MAS-section {margin-top: 24.5rem;}
.solution-wrapper .MAS-section .container {display: flex; align-items: flex-start; justify-content: space-between;}
.solution-wrapper .DataBackup-section .container {display: flex; align-items: flex-start; justify-content: space-between;}

.solution-wrapper .other-section .container p {color: var(--color-gray-5); font-weight: var(--fw-500); font-size: var(--fs-18);}

/*********************** SAPservice-page *************************/

/* SAPservice-page (head-section) */
.SAPservice-wrapper .head-section .service-img {width: 100%; height: 300px; background-color: var(--color-gray-3);}
/* SAPservice-page (SAP solution section) */
.SAPservice-wrapper .SS-section {margin-top: var(--el-section);}
.SAPservice-wrapper .SS-section .container .title {display: flex;}
.SAPservice-wrapper .SS-section .container .title .sap-logo {width: 80px; height: 39px; object-fit: cover; background: url(/asset/img/SAP_logo.svg) center no-repeat; background-size: cover;}
.SAPservice-wrapper .SS-section .container .contents-top {display: flex; flex-direction: column; gap: 1.875rem; margin-left: 5.625rem; margin-bottom: var(--el-wide);}
.SAPservice-wrapper .SS-section .container .solution-grid {width: 100%;margin: auto;overflow: hidden;display: grid;grid-template-columns: 1fr 1fr 1fr;gap: 0.938rem; grid-auto-flow: row dense;}
.SAPservice-wrapper .SS-section .container .boxes {width: 100%;height: auto;}
.SAPservice-wrapper .SS-section .container .boxes .box {width: 100%;height: auto; padding: 3rem 2.625rem; background-color: #F6F6F9; border-radius: 0.875rem;}
.SAPservice-wrapper .SS-section .container .boxes .box img {margin-bottom: var(--el-wide);}
.SAPservice-wrapper .SS-section .container .boxes .box .box-txt span {font-size: var(--fs-12); color: var(--color-gray-5); margin-bottom: 0.25rem;}
.SAPservice-wrapper .SS-section .container .boxes .box p {font-size: var(--fs-21); font-weight: var(--fw-500); color: var(--color-gray-8);}
.SAPservice-wrapper .SS-section .container .boxes .box p:last-child {font-size: var(--fs-15); font-weight: var(--fw-400);color: var(--color-gray-7); margin-top: 1.625rem; line-height: 160%;}
.SAPservice-wrapper .SS-section .container .boxFlex1 {display: grid;row-gap: 20px;}
.SAPservice-wrapper .SS-section .container .boxFlex2 {display: grid;row-gap: 20px;}
.SAPservice-wrapper .SS-section .container .boxFlex3 {display: grid;row-gap: 20px;}
/* SAPservice-page (ERP Implementation-section) */
.SAPservice-wrapper .EI-section {padding: 12.5rem 0; background-color: var(--color-gray-9); text-align: center;}
.SAPservice-wrapper .EI-section .section-title {padding-bottom: 12.5rem; }
.SAPservice-wrapper .EI-section .section-title h2 {color: var(--color-gray-0); margin-bottom: 1.125rem;}
.SAPservice-wrapper .EI-section .section-title span {color: var(--color-gray-5); font-size: var(--fs-18);}
.SAPservice-wrapper .EI-section .what {position: relative;}
.SAPservice-wrapper .EI-section .what .hana-back {position: absolute; top: -7.5rem; left: 0; right: 0; font-size: 20rem; font-weight: 800; color: #282B2F;}
.SAPservice-wrapper .EI-section .video {width: 100vw;
  height: 556px;
  overflow: hidden;
  margin-left: calc(-50vw + 50%);
  position: relative;}
  video {
    width: 100%;
  }
  .SAPservice-wrapper .EI-section .video .video-text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .SAPservice-wrapper .EI-section .video .video-text div {
    text-align: center;
    font-size: var(--fs-24);
    letter-spacing: -0.04em;line-height: 160%;
    color: var(--color-gray-3);
  }
  .SAPservice-wrapper .EI-section .video .video-text div:first-child {
    margin-bottom: var(--el-wide);
  }
  .SAPservice-wrapper .EI-section .benefit-content-box {margin-top: 1.875rem;}
  .SAPservice-wrapper .EI-section .benefit-content-box ul {display: flex; align-items: center; justify-content: center; gap: var(--el-normal);     margin-bottom: var(--el-normal);}
  .SAPservice-wrapper .EI-section .benefit-content-box ul:last-child {margin-bottom: 6.25rem;}
  .SAPservice-wrapper .EI-section .benefit-content-box ul li {display: flex; align-items: center; justify-content: center;  width: 240px; height: 124px; background-color: #282b30;
    ; border-radius: 0.563rem;}
  .SAPservice-wrapper .EI-section .benefit-content-box ul li:hover {background-color: #303438; transform: translateY(-6px);}
  .SAPservice-wrapper .EI-section .benefit-content-box ul li p {color: var(--color-gray-0); font-size: var(--fs-18);}
  .SAPservice-wrapper .EI-section .benefits button {background-color:#2E3237 ; border: 1px solid #33373C;}
  .SAPservice-wrapper .EI-section .benefits button:hover {background-color:#24272B; ; border: 1px solid #2F3237;}
  .SAPservice-wrapper .EI-section .benefits button a {color: var(--color-gray-0);}

/* SAPservice-page (ERP Implementation section) */
.SAPservice-wrapper .ITO-section {padding-bottom: 12.5rem; text-align: center;}
.SAPservice-wrapper .ITO-section .section-title h2 {color: var(--color-gray-8); margin-bottom: 1.125rem;}
.SAPservice-wrapper .ITO-section .section-title span {color: var(--color-gray-7); font-size: var(--fs-18);}
.SAPservice-wrapper .ITO-section .SAP-main-txt span:first-child {color: var(--color-gray-7);}
.SAPservice-wrapper .ITO-section .what {padding: 0 12.5rem; text-align: start;}
.SAPservice-wrapper .ITO-section .what ul {display: flex; align-items: center; justify-content: space-between; gap: 1.875rem; margin-bottom: 1.875rem;}
.SAPservice-wrapper .ITO-section .what ul:last-child {margin-bottom: none;}
.SAPservice-wrapper .ITO-section .what ul li {display: flex; flex-direction: column; align-items: flex-start; justify-content: center; gap: 2.25rem; width: 540px; _height: auto; padding: 2rem; border: 1px solid var(--color-gray-4); border-radius: 0.75rem;}
.SAPservice-wrapper .ITO-section .what ul li p {color: var(--color-gray-7);}
.SAPservice-wrapper .ITO-section .what ul li img {width: 48px; height: 48px; }
.SAPservice-wrapper .ITO-section .why ul li .why-txt div {color: var(--color-gray-8);}
.SAPservice-wrapper .ITO-section .why ul li .why-txt div:before {color: var(--color-gray-1); }
.SAPservice-wrapper .ITO-section .why ul li .why-txt p {color: var(--color-gray-7);}
.SAPservice-wrapper .ITO-section .benefits .benefit-content-box {margin-top: var(--el-normal); margin-bottom: 7.5rem;}
.SAPservice-wrapper .ITO-section .benefits ul {display: flex; align-items: center; justify-content: center;}
.SAPservice-wrapper .ITO-section .benefits ul li {display: flex; align-items: center; justify-content: center; width: 194px; height: 194px; margin-right:-1rem; border-radius: 50%; border: 1px solid var(--color-gray-3); background-color: #fff; color: var(--color-gray-8); font-size: var(--fs-15);}
.SAPservice-wrapper .ITO-section .benefits ul li:nth-child(even) {background-color: var(--color-gray-0); border: 1px solid var(--color-gray-3);}

/*********************** Data&Bi-page *************************/

.Data-Bi-wrapper .head-section .Data-Bi-img {width: 100%; height: 300px; background-color: var(--color-gray-3);}
