@charset "utf-8";
/* *******************************************************
 * filename : content.css
 * description : 서브페이지 컨텐츠 CSS
 * date : 2022-03-14
******************************************************** */

/* ******************  서브공통 ********************** */
/* -------- 공통 스크롤바  -------- */
.custom-scrollbar-cover,
.cm-scroll-drag-guide{display:none;}

/* -------- 공통 :: 탭 -------- */
/* Tab 공통 스타일 */
.sub-tab-wrapper-style{position:relative; height:60px; margin-bottom:15px; }
.sub-tab-list-style ul{display:table; width:100%; height:100%; table-layout:fixed;}
.sub-tab-list-style ul:after{display:none}
.sub-tab-list-style ul li{/* float:left; */ display:table-cell; vertical-align:middle; position:relative; width:20%; background-color:#fff; border:1px solid #e5e5e5; border-left:0 }
.sub-tab-list-style ul li:first-child{border-left:1px solid #e5e5e5;}
.sub-tab-list-style ul li a{display:table; height:58px; width:100%; }
.sub-tab-list-style ul li a em{display:table-cell; vertical-align:middle; color:#494949; font-size:18px; letter-spacing:-0.30px; text-align:center;}
.sub-tab-list-style ul li.selected{z-index:1; background-color:#333; border-color:#333;}
.sub-tab-list-style ul li.selected a em{color:#fff; }
/* Tab Fixed Move*/
.sub-tab-list-style.top-fixed{position:fixed; top:70px; left:0; width:100%; height:60px;}
/* Mobile Tab Drop Menu */
.sub-drop-open-btn-style{display:none}

@media all and (min-width:1025px){
	/* Tab Fixed Background */
	.sub-tab-list-style:before{position:absolute; top:0px; bottom:0px; left:50%; width:0; content:""; background-color:#fff; border-bottom:1px solid #e5e5e5; transition:all 0.5s}
	.sub-tab-list-style.top-fixed:before{width:100%; margin-left:-50%}
}

.txt-blue {color:#278bda;}

/* ****************** 01.BB Haptic ********************** */
.intro-page {padding-top: 10rem;}
.intro-top-con {position: relative; padding-bottom: 43rem;}
.intro-top-con .intro-txt-box {}
.intro-top-con .intro-txt-box .main-tit {font-size: 5.6rem; font-weight: 700; line-height: 1.3; color:#fff; margin-bottom: 12rem;}
.intro-top-con .intro-txt-box .main-tit span{display: block; font-size: 4.4rem; font-weight: 500; line-height: 1.1; color:#fff; margin-top: 2.5rem;}
.intro-top-con .intro-txt-box .sub-txt {display: flex; align-items: flex-end;}
.intro-top-con .intro-txt-box .sub-txt .txt-kr {font-size: 1.8rem; font-weight: 700; line-height: 1.1; color:#fff; opacity: 0.7; margin-bottom: 1rem;}
.intro-top-con .intro-txt-box .sub-txt .txt-en {font-size: 3.8rem; font-weight: 700; line-height: 1.1; color:#fff;}
.intro-top-con .intro-txt-box .sub-txt i {display: block; padding: 0 3rem; font-size: 3rem; color:#fff; padding-bottom: 0.5rem;}

.intro-sub-con {display: flex; flex-wrap: wrap; align-items: center; margin-bottom: 18rem;}
.intro-sub-con .img-box {width: 50%; text-align: center;}
.intro-sub-con .img-box img {max-width: 100%;}
.intro-sub-con.con-last .img-box img {padding-left: 15rem;}
.intro-sub-con .txt-box {width: 50%; padding-left: 8.5rem; box-sizing:border-box;}
.intro-sub-con .txt-box .num {display: block; font-size: 2rem; font-weight: 700; line-height: 1.1; margin-bottom: 3rem;}
.intro-sub-con .txt-box .big-tit {font-size: 5.8rem; font-weight: 700; line-height: 1.27; color:#fff; margin-bottom: 2.5rem;}
.intro-sub-con .txt-box .sm-tit {font-size: 2.4rem; font-weight: 700; line-height: 1.67; color:#fff; margin-bottom: 1.5rem;} 
.intro-sub-con .txt-box .txt {font-size: 1.8rem; font-weight: 400; line-height: 1.78; color:#fff; opacity: 0.6;} 

.intro-sub-con.con-reverse {flex-wrap: wrap-reverse;}
.intro-sub-con.con-reverse .txt-box {position: relative; left:12%; padding-left: 0;}
.intro-sub-con.con-center {text-align: center; margin-bottom: 12rem;}
.intro-sub-con.con-center .img-box {width: 100%; position: relative; margin-top:-30rem; z-index: -1;}
.intro-sub-con.con-center .txt-box {width: 100%; padding-left: 0;}

.intro-center-con-wrapper {padding: 25rem 0 ;}
.intro-center-con {display: flex; flex-wrap: wrap; justify-content: space-between; margin-top: -8rem;}
.intro-center-con .con-left {display: flex; flex-direction: column; justify-content: space-between;}
.intro-center-con .con-left {width: 49%;}
.intro-center-con .con-right {width: 49%;}
.intro-center-con .con-item {background-color: rgba(0,0,0,0.6); border-radius: 2rem; box-sizing:border-box;}
.intro-center-con .con-left .con-item {display: flex; align-items: center; padding: 4rem 5rem; margin-bottom: 2.5rem;}
.intro-center-con .con-left .con-item:last-of-type {margin-bottom: 0;}
.intro-center-con .con-right .con-item {padding: 6rem 6.5rem; height: 100%;}
.intro-center-con .con-item .txt01 {font-size: 2.2rem; font-weight: 600; line-height: 1.6; color:#fff; padding-left: 4rem;}
.intro-center-con .con-right .con-item .txt01 {padding: 3.5rem 0 2rem 0;}
.intro-center-con .con-right .con-item .txt02 {position: relative; font-size: 1.8rem; font-weight: 400; line-height: 1.78; color:#aaaaaa; padding-left:1.5rem;}
.intro-center-con .con-right .con-item .txt02:before {position: absolute; content: ''; width: 4px; height: 4px; border-radius:4px; top:1.3rem; left:0; background-color: #fff;}

.intro-certificate {padding: 11rem 0;}
.intro-certificate .intro-certificate-tit {font-size: 5rem; font-weight: 700; line-height: 1.1; color:#fff; margin-bottom: 7rem; text-align: center;}

/* ****************** 02.Product :: All Category ********************** */
.product-category-list {display: flex; flex-wrap: wrap; justify-content: space-between; margin-bottom: 12rem;}
.product-category-list.list02 {margin-bottom: 0;}
.product-category-list li {width: 47.5%;}
.product-category-list li a {display: block; position: relative; width: 100%; }
.product-category-list li a .list-item-inner {position: relative; min-height: 57rem; border-radius:3rem; padding: 5rem; background-color: #111; box-sizing: border-box; transition: all 0.4s ease-in-out;}
.product-category-list li a .list-item-inner:before {position: absolute; top: 0; left: 0; content: ''; width: 100%; height: 100%; background: url('../images/main/main_technology_con03_cover.png') 0 0 no-repeat; background-size: cover; border-radius: 2.5rem; }
.product-category-list li a .list-item-inner .product-category-tit {color: transparent; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: #aaaaaa; 
	font-size: 8rem; font-weight: 900; line-height: 1.1; }
.product-category-list li a .list-item-inner .product-category-tit span {display: inline-block; padding-left: 9rem;}
.product-category-list.list01 li:first-child {margin-top: 12rem;}
.product-category-list.list02 li:last-child {margin-top: -12rem;}
.product-category-list.list02 li:first-child a .list-item-inner .product-category-tit span {padding-left: 19rem;}
.product-category-list.list02 li:last-child a .list-item-inner .product-category-tit span {padding-left: 7rem;}
.product-category-list li .img {position: absolute; width: 50rem; height: 50rem; display: flex; align-items: center;justify-content: center; left:50%; top: 40%; transform: translateX(-50%);}
.product-category-list li .img img {max-width: 100%;}

@media all and (min-width:801px){	
	.product-category-list li a:hover .list-item-inner {background-color: #1e5f93; transition: all 0.4s ease-in-out;}
	.product-category-list li a:hover .list-item-inner .product-category-tit {color:#ffffff; -webkit-text-stroke-width: 0; -webkit-text-stroke-color: none; transition: all 0.4s ease-in-out;} 
}

/* ****************** 02.Product :: 공통 ********************** */
.product-page {padding: 10rem 0 30rem 0;}
.product-page .intro-sub-con .txt-box .num {font-size: 2.4rem;}
.product-page .intro-sub-con .txt-box .caption-txt {font-size: 1.8rem; font-weight: 400; line-height: 1.1; padding-top: 2rem; /* color: rgba(255,255,255,0.5); */}
.product-page .intro-sub-con .site-box-tit {width: 100%; font-size: 4rem; font-weight: 700; line-height: 1.3; color: #fff; text-align: center;}
.product-page .intro-sub-con .main-product-con06-btn {max-width: 32rem;}
.product-page .intro-sub-con .main-product-con06-btn ul {margin: 0;}
.product-page .intro-sub-con .main-product-con06-btn ul li { width: 100%; margin: 0;}

/* product model 슬라이드 */
.product-model-tit {font-size: 4.8rem; font-weight: 700; line-height: 1.1; color:#fff; margin-bottom: 5rem;}
.product-model .swiper-container{overflow: visible;}
.product-model-list .slick-list{overflow: visible;}
.product-model-list .list-item {float: left; width: calc(31% - 4rem) !important; margin-right: 4rem;}
.product-model-list .list-item a{display: block; width: 100%; height: 100%;}
.product-model-list .list-item a .list-inner {width: 100%; padding: 9rem 2rem 5rem 2rem; border-radius: 3rem; background: #111111; box-sizing:border-box; text-align: center; height: 100%;
    display: flex; flex-direction: column; justify-content: space-between; transition: all 0.4s ease-in-out;}
.product-model-list .list-item a .list-inner .img-con {width: 22rem; height: 22rem; margin: 0 auto; display: flex; align-items: center; justify-content: center;}
.product-model-list .list-item a .list-inner .img-con img {position: relative; max-width: 100%;}
.product-model-list .list-item a .list-inner .txt-con {padding-top: 4rem;}
.product-model-list .list-item a .list-inner .txt-con .txt01 {font-size: 3.2rem; font-weight: 700; line-height: 1.1; color:#fff; margin-bottom: 1.5rem; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.product-model-list .list-item a .list-inner .txt-con .txt02 {font-size: 2rem; font-weight: 400; line-height: 1.5; color:#9c9c9c; height:3em; overflow:hidden; display:block; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}

/* ****************** 02.Product :: Haptic Mouse ********************** */
.hm-video-box {position:relative; padding-bottom:56.25%; padding-top:3rem; height:0; border-radius: 2rem; overflow: hidden;}
.hm-video-box iframe, .hm-video-box object, .video-wrap embed  {position:absolute; top:0; left:0; width:100%; height:100%;}
.hm-video-box iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: calc(100% + 350px);
    transform: translate(-50%,-50%);
}
.product-hm-page .product-info-con {padding-top: 40rem;}
.product-hm-page .intro-sub-con .img-box {width: 52%;}
.product-hm-page .intro-sub-con .txt-box {width: 48%; padding-left: 11rem;}
.product-hm-page .intro-sub-con.con-center .img-box {margin-top: -52rem; padding-left: 25rem;}
.product-hm-page .intro-sub-con.con-center  .img-box {width: 100%;}
.product-hm-page .intro-sub-con.con-center  .txt-box {width: 100%; padding-left: 0;}
.product-hm-page .intro-sub-con.con-reverse .txt-box {left: 13%;}
.product-hm-page .intro-sub-con.con03 {margin-bottom: 45rem;}
.product-hm-page .intro-sub-con.con04 {margin-bottom: 23rem;}
.product-hm-page .intro-sub-con.con04 .img-box {padding-left: 0; margin-top: -63rem;}
.product-hm-page .intro-sub-con.con05 {margin-bottom: 30rem;}

/* ****************** 02.Product :: Haptic Console ********************** */
.product-intro-con .tit-box {text-align: center;}
.product-hc-page .product-video-con01 .video-box {position:relative; padding-bottom:56.25%; padding-top:3rem; height:0; border-radius: 2rem; overflow: hidden;}
.product-hc-page .product-video-con01 .video-box iframe,
.product-hc-page .product-video-con01 .video-box object,
.product-hc-page .product-video-con01 .video-box embed  {position:absolute; top:0; left:0; width:100%; height:100%;}
.product-hc-page .product-video-con01 .video-box iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: calc(100% + 350px);
    transform: translate(-50%,-50%);
}
.product-hc-page .product-video-con02 .video-box img {max-width: 100%;}

.product-video-con01 {margin-bottom: 25.2rem;}
.product-video-con01 .tit-box {margin-bottom: 9.2rem; }
.product-video-con01 .tit-box .tit01 {font-size: 5.6rem; font-weight: 700; line-height: 1.3; color:#fff; margin-bottom: 5rem;}
.product-video-con01 .tit-box .txt01 {font-size: 2.8rem; font-weight: 400; line-height: 1.2; color:#fff; margin-bottom: 1rem;}
.product-video-con01 .tit-box .txt01 span {font-weight: 700;}
.product-video-con01 .tit-box .tit02 {font-size: 5.8rem; font-weight: 400; line-height: 1.2; color:#fff; margin-bottom: 4.5rem;}
.product-video-con01 .tit-box .txt02 {font-size: 2rem; font-weight: 400; line-height: 1.2; color:#aaaaaa; margin-bottom: 1rem;}
.product-video-con01 .tit-box .txt03 {font-size: 2rem; font-weight: 500; line-height: 1.2; color:#ffffff;}
.product-video-con02 {margin-bottom: 33rem;}
.product-video-con02 .tit-box {margin-bottom: 7rem;}
.product-video-con02 .tit-box .txt01 {font-size:2.4rem; font-weight: 700; line-height: 1; color:#278bda; margin-bottom: 2.5rem;}
.product-video-con02 .tit-box .tit {font-size:4.4rem; font-weight: 400; line-height: 1.3; color:#ffffff; margin-bottom: 2.5rem;}
.product-video-con02 .tit-box .tit span {font-weight: 700;}
.product-video-con02 .tit-box .txt02 {font-size:2rem; font-weight: 400; line-height: 1.7; color:#aaaaaa;}
.product-video-con02 .video-box {position: relative; text-align: center;}
.product-video-con02 .video-box:before {position: absolute; content: ''; left:0; top:18%; width: 100%; height: 34rem; z-index: -1;background: url("/images/content/product_console_bg.png") no-repeat ; background-size: contain;}
.product-video-con02 .video-box .play-btn {position: absolute; left:50%; top:50%; transform: translate(-50%, -50%); }  
.product-video-con02 .video-box .play-btn a {display: block; width: 7.5rem; height: 7.5rem; background: url("/images/content/bg_play.png") center/auto no-repeat; background-size: contain;}
.product-hc-page .intro-sub-con {margin-bottom: 28rem;}
.product-hc-page .intro-sub-con.con-reverse .txt-box {width: 33%; left:19%;}
.product-hc-page .intro-sub-con.con-reverse .img-box {width: 67%;}
.product-hc-page .intro-sub-con.con02 {margin-bottom: 35rem;}
.product-hc-page .intro-sub-con.con02 .txt-box {padding-left: 15.5rem;}
.product-hc-page .intro-sub-con.con02 .img-box img {padding-left: 30rem;}
.product-hc-page .intro-sub-con.con-center .img-box {margin-top: -13rem; margin-left: -5rem;}
.product-hc-page .intro-sub-con.con05 .txt-box{width: 47%;}
.product-hc-page .intro-sub-con.con05 .img-box{width: 53%;}
.product-hc-page .intro-sub-con.con05 {margin-bottom: 18rem;}
/* video-iframe-wrapper */
.video-iframe-wrapper{position:relative; max-width:80rem; min-height: 45rem;  margin:0px auto; overflow:hidden;}
.video-iframe-box{position:relative; padding-top:49.88%; height:0; background-color:#000}
.video-iframe-box iframe{position:absolute; top:0px; left:0px; width:100%; height:100%;}
.video-cover-box{position:absolute; top:0px; left:0px; width:100%; height:100%; cursor:pointer ;  }
.video-cover-box:after{position:absolute; top:0px; left:0px; width:100%; height:100%; cursor:pointer ; background-color:rgba(0,0,0,0.4); content:"";}
.video-cover-box .thumb{display:block; width:100%; height:100%;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;transition:all 0.3s}
.video-cover-box .thumb img{width:100%; height:100%;}
.video-cover-box:hover .thumb{
	-ms-transform: scale(1.1) rotate(0.002deg);
	  -o-transform: scale(1.1) rotate(0.002deg);
	  -moz-transform: scale(1.1) rotate(0.002deg);
	  -webkit-transform: scale(1.1) rotate(0.002deg);
	  transform: scale(1.1) rotate(0.002deg);
}
.video-cover-box .icon{position:absolute; top:50%; left:50%;  z-index:1; -ms-transform: translate(-50%, -50%);
-o-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);}
.video-cover-box .icon i{font-size:6rem; color:#fff; line-height:50px; text-shadow:1px 1px 10px rgba(0, 0, 0, .5);}

/* ****************** 02.Product :: Haptic Plus ********************** */
.product-intro-con {position: relative;}
.product-hp-page .hm-video-box {margin-bottom: 20rem;}
.product-hp-page .intro-bg {position: absolute; width: 100%; bottom:0; left:0; padding: 20rem 0 60rem 0; z-index: -1; }
.product-hp-page .intro-box {text-align: center; padding: 0 0 60rem 0; }
.product-hp-page .intro-box .img-box {margin-bottom: 10rem;}
.product-hp-page .intro-box .img-box img {max-width: 100%;}
.product-hp-page .intro-box .txt-box .txt01 {font-size: 2.8rem; font-weight: 400; line-height: 1.3; color: #fff; margin-bottom: 1rem;}
.product-hp-page .intro-box .txt-box .txt01 span {font-weight: 700;}
.product-hp-page .intro-box .txt-box .txt02 {font-size: 5.8rem; font-weight: 400; line-height: 1.3; color: #fff;}
.product-hp-page .intro-sub-con.con01 .txt-box{width: 42%; padding-left: 0; margin-top: -20rem;}
.product-hp-page .intro-sub-con.con01 .img-box{width: 58%;}
.product-hp-page .intro-sub-con.con-reverse {margin-bottom: 16rem;}
.product-hp-page .intro-sub-con.con-reverse .txt-box {width: 33%; left:19%;}
.product-hp-page .intro-sub-con.con-reverse .img-box {width: 67%;}

/* ****************** 02.Product :: Haptic Wearable ********************** */
.product-hw-page .hm-video-box {margin-bottom: 20rem;}
.product-hw-page .intro-box.con01 {padding-bottom: 30rem;}
.product-hw-page .intro-box .intro-tit {font-size: 5.6rem; font-weight: 700; line-height: 1.3; color: #fff; text-align: center;}
.product-hw-page .intro-box .img-box {padding: 6.5rem; text-align: center;}
.product-hw-page .intro-box .img-box img {max-width: 100%;}
.product-hw-page .intro-info-list {display: flex; justify-content: space-between;}
.product-hw-page .intro-info-list li {position: relative; width: 30%; padding: 4rem; border-radius:3rem; box-sizing:border-box; display: flex; flex-direction: column; justify-content: space-between;}
.product-hw-page .intro-info-list li:before {position: absolute; content: '\e9c5'; font-size: 2.2rem;  left:50%;  top:50%; margin-left: 55.5%; transform:translateY(-50%); color: rgba(255,255,255,0.7); font-family: xeicon;}
.product-hw-page .intro-info-list li:last-child:before {display: none;}
.product-hw-page .intro-info-list li .no {font-size: 2.2rem; font-weight: 700; line-height: 1.1; color: #278bda; margin-bottom: 1.5rem;}
.product-hw-page .intro-info-list li .icon {display: block; margin-bottom: 2.5rem; }
.product-hw-page .intro-info-list li .txt01 {font-size: 2rem; font-weight: 600; line-height: 1.5; color: #ffffff;}
.product-hw-page .intro-info-list li .txt02 {font-size: 1.6rem; font-weight: 300; line-height: 1.2; color: #9b9b9b; padding-top: 0.5rem;}
.product-hw-page .intro-box.con02 {padding-bottom: 42rem;}
.product-hw-page .intro-box .intro-txt {font-size: 2.8rem; font-weight: 700; line-height: 1.5; color: #ffffff; padding-top: 4.5rem; text-align: center;}
.product-hw-page .product-info-con {padding-top: 22rem;}
.product-hw-page .intro-sub-con .txt-box .caption-txt {color: rgba(255,255,255,0.7); }
.product-hw-page .intro-sub-con.con-reverse .txt-box {left:0;}
.product-hw-page .intro-sub-con .txt-box .caption-txt {padding-top: 1rem;}
/* .product-hw-page .intro-sub-con.con02 .txt-box {10.5rem} */ 
.product-hw-page .intro-sub-con.con03 {margin-bottom: 25rem;}
.product-hw-page .intro-sub-con.con03 .txt-box, .product-hw-page .intro-sub-con.con08 .txt-box {width: 34%; }
.product-hw-page .intro-sub-con.con03 .img-box, .product-hw-page .intro-sub-con.con08 .img-box {width: 66%;}
.product-hw-page .intro-sub-con.con03 .txt-box, .product-hw-page .intro-sub-con.con08 .txt-box {left:19%;}
.product-hw-page .intro-sub-con.con04 {margin-bottom: 25rem;}
.product-hw-page .intro-sub-con.con04 .img-box {margin-top: -12rem;}
.product-hw-page .intro-sub-con.con05 {margin-bottom: 30rem;}
.product-hw-page .intro-sub-con.con05 .txt-box {padding-left: 2.5rem;}
.product-hw-page .intro-sub-con.con07 .txt-box .md-tit {font-size: 4rem; font-weight: 700; line-height: 1.2; color: #ffffff; }
.product-hw-page .intro-sub-con.con07 .img-box {margin-top: 5rem;}
.product-hw-page .intro-sub-con.con07 .img-box img {float: left; width: 50%;}
.product-hw-page .intro-sub-con.con07 {margin-bottom: 30rem;}
.product-hw-page .intro-sub-con.con08 {margin-bottom: 0;}
.product-hw-page .intro-sub-con .btn {width: 24rem; height: 6rem; border-radius:3rem; background-color:#278bda; margin-top: 5rem;}
.product-hw-page .intro-sub-con .btn a {display: block; width: 100%; height: 100%; line-height: 6rem; font-size: 1.8rem; font-weight: 700; color: #ffffff; text-align: center;}

/* ****************** 02.Product :: 제품 팝업 ********************** */
.product-info-wrapper {position: relative; margin:0 auto; max-width: 120rem; border-radius:4rem; background-color: #151515; padding: 10rem; box-sizing:border-box;}
.product-info-wrapper .modal-close-btn {top:10rem; right:10rem;}
.product-view-con {text-align: center; border-bottom: 1px solid rgba(255,255,255,0.1); padding-bottom: 9.5rem;}
.product-view-con .type {font-size: 1.8rem; font-weight: 500; line-height: 1.1; margin-bottom: 1rem;}
.product-view-con .name {font-size: 5.8rem; font-weight: 700; line-height: 1.1; color:#fff; margin-bottom: 2rem;}
.product-view-con .txt {font-size: 1.8rem; font-weight: 400; line-height: 1.1; color:#fff; opacity: 0.5; margin-bottom: 9rem;}
.product-view-con .product-view-thum {position: relative; max-width: 62rem;  margin:0 auto;}
.product-view-con .product-view-thum-list .item{float: left;}
.product-view-con .product-view-thum-list .item .img {position: relative; width: 100%; height: 0; padding-top: 100%; display: block;}
.product-view-con .product-view-thum-list .item .img img{position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; max-width: 100%; max-height: 100%;}
.product-view-con .product-view-thum-list .slick-dots{position: absolute; left: 0; bottom: -3rem; width: 100%; text-align: center;}
.product-view-con .product-view-thum-list .slick-dots li{margin: 0 1rem; display: inline-block; vertical-align: middle;}
.product-view-con .product-view-thum-list .slick-dots li button{font-size: 0; border: 0; width: 0.8rem; height: 0.8rem; background-color: rgba(255,255,255,0.2); -webkit-border-radius: 100%; border-radius: 100%;}
.product-view-con .product-view-thum-list .slick-dots li.slick-active button{background-color: #278bda;}
.product-view-arrow{position:absolute; width:100%; top:50%; transform:translateY(-50%); z-index: 999;}
.product-view-arrow button i{border:0; cursor:pointer; z-index:9; font-size:4.2rem; color:#fff; opacity: 0.2;}
.product-view-arrow .arrow-prev {float: left;}
.product-view-arrow .arrow-next {float: right;}
.product-view-con .main-inquiry-summit-btn {margin-top: 9rem; font-size: 1.6rem; font-weight: 400; width: 22rem; height: 5.4rem; line-height: 5.4rem;}
.product-view-con .main-inquiry-summit-btn span {top: 0.2rem;}
.product-view-con .main-inquiry-summit-btn span i {font-size: 1.8rem; padding-left: 5rem; font-weight: 400;}
.product-spec-con {padding: 9rem 0;}
.product-spec-con .tit {font-size: 3.2rem; font-weight: 700; line-height: 1; margin-bottom: 3.5rem; color: #fff; text-align: center;}
.product-spec-con .product-spec-box {padding-bottom: 10rem;}
.product-spec-con .product-spec-tbl {width: 100%; text-align: center; border-top: 1px solid rgba(255,255,255,0.6);}
.product-spec-con .product-spec-tbl tr {border-bottom: 1px solid rgba(255,255,255,0.1);}
.product-spec-con .product-spec-tbl th {font-size: 1.6rem; font-weight: 400; line-height: 1.3; color: rgba(255,255,255,0.5); background: rgba(255,255,255,0.02); padding: 2.2rem 0.5rem;}
.product-spec-con .product-spec-tbl td {font-size: 1.6rem; font-weight: 400; line-height: 1.3; color: rgba(255,255,255,0.5); padding: 2.2rem 0.5rem;}
.product-spec-con .product-info-box {background-color: #0b0b0b; text-align: center; padding: 18rem 2rem; box-sizing:border-box;}
/* .product-spec-con .product-info-box .txt {font-size: 1.6rem; font-weight: 400; line-height: 1.5; color: rgba(255,255,255,0.2); } */
.product-review-con .tit {font-size: 3.2rem; font-weight: 700; line-height: 1; margin-bottom: 3.5rem; color: #fff; text-align: center;}
.product-review-con .bbs-top-list-box {flex-direction: row;}
