@charset "utf-8";
/* *******************************************************
 * filename : layout_responsive.css
 * description : 전체 레이아웃 반응형 CSS
 * date : 2022-07-26
******************************************************** */

/* ========================================================
 * SETTING
======================================================== */
@media all and (max-width:1280px){
	:root{
		--header-height: 100px;
	}
}
@media all and (max-width:800px){
	:root{
		--area-padding: 5vw;
		--sub-visual-height: 24rem;
		--sub-menu-height: 60px;
	}
}
@media all and ( max-width: 480px ){
	:root{
		--header-height: 80px;
		/* --sub-menu-height: 45px; */
	}
}

/* ========================================================
 * FONT SIZE
======================================================== */
@media all and (max-width:1536px){
	html{font-size:0.6510vw;} /* 10 */
}
@media all and (max-width:1280px){
	html{font-size:0.8594vw;} /* 10 -> 11*/
}
@media all and (max-width:800px){
	html{font-size:1.375vw} /* 10 -> 11*/
}
@media all and (max-width:640px){
	html{font-size:1.7188vw}  /* 10 -> 11*/
}
@media all and ( max-width: 480px ){
	html{font-size:2.2vw}  /* 10 */
}
@media all and ( max-width: 412px ){
	html{font-size:2.4272vw}  /* 10 */
}
@media all and (max-width:390px){
	html{font-size:2.1795vw}  /* 10 -> 8.5 */
}

/* ========================================================
 * LAYOUT
======================================================== */
/* ****************** 공통클래스 ********************** */
@media all and (max-width:1780px){	/* max-width : (area-box width) + 60px */
	.area-wide{padding:0 var(--area-padding); max-width:none;}
}
@media all and (max-width:1580px){	/* max-width : (area-box width) + 60px */
	.area-box{padding:0 var(--area-padding); max-width:none;}
}
@media all and (max-width:1280px){ 
	.area{padding:0 var(--area-padding); max-width:none;}
	.m-br{display:block;}
	.pc-br{display:none;}
	.display-m{display:block;}
	.display-pc{display:none;}
}

/* ****************** HEADER ********************** */
@media all and (max-width:1740px){
	#gnb > ul {margin-left: 240px; padding:0 var(--area-padding); max-width:none;}
}
@media all and ( max-width: 1280px ){
	#header{top: 0;}
	#headerInnerWrap{position:fixed; z-index:99;}
	#header.top-fixed #headerInnerWrap{background-color:rgba(0,0,0,0.85); border-bottom:1px solid rgba(255,255,255,0.15);}
	
	/* -------- Header :: UTIL BOX -------- */
	.header-util-box{padding-right:50px; display: none;}
	/* Header :: 사이트맵 버튼 */
	.sitemap-line-btn, .sitemap-custom-btn{display:none;}

	/* -------- Header :: GNB(Pc) -------- */
	#gnb{display:none;}
	.gnb-overlay-bg{display:none}

	/* -------- Header :: GNB(Mobile/기본스타일) -------- */
	.gnb-overlay-bg-m{display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5); z-index:9998;}	
	#gnbM{ 
		display:block; 
		position:fixed; 
		top:0px; 
		right:-82%;
		width:80%; 
		height:100%;  
		max-width:280px; 
		background-color:#fff; 
		z-index:9999; 
		transition:var(--transition-custom);   
		visibility:hidden;
	}
	#gnbM.open{
		right:0px; 
		visibility:visible;
	}
	/* GNB Mobile :: 레이아웃 */
	.gnb-navigation-wrapper{position:relative; height:100%; box-sizing:border-box; padding-top:var(--header-height); overflow-y:auto;}	
	.header-util-menu-box + .gnb-navigation-wrapper{padding-top:0; height:calc(100% - var(--header-height));}
	
	/* GNB Mobile :: 메뉴영역 :: 1차 */
	#navigation > li{border-bottom:1px solid #e7e7e7;}
	#navigation > li:first-child{border-top:1px solid #e7e7e7}
	#navigation > li > a {position:relative; display:block; padding:15px var(--area-padding); color:#333; font-size:17px; font-weight:500; }
	#navigation > li.active > a{color:var(--main-color);}
	#navigation > li.has-2dep > a:before{font-family:xeicon; content: "\e914"; position:absolute; top:50%; right:var(--area-padding); font-size:1.3em; transform:translateY(-50%);}
	#navigation > li.has-2dep.active > a:before{content: "\e91b";}
	/* GNB Mobile ::  메뉴영역 :: 2차 */
	#navigation > li .gnb-2dep{display:none; padding:15px 0; background-color:#f2f2f2; }
	#navigation > li .gnb-2dep > ul > li{height:auto !important;}
	#navigation > li .gnb-2dep > ul > li > a{display:block; color:#888; font-size:14px; padding:12px var(--area-padding); }
	#navigation > li .gnb-2dep > ul > li.on > a{color:#000; font-weight:500;}
	/* GNB Mobile :: 메뉴영역 ::  3차 */
	#navigation > li .gnb-2dep > ul > li > .gnb-3dep{display:none; padding:10px; background-color:#aaa; margin:0 10px}
	#navigation > li .gnb-2dep > ul > li > .gnb-3dep > li > a{display:block; padding:8px 0; font-size:13px; color:#fff;}
	#navigation > li .gnb-2dep > ul > li > .gnb-3dep > li > a:before{display:inline-block; content:"-"; margin-right:5px;}
	
	/* -------- GNB Mobile :: 스타일2 (Full Style) -------- */
	#gnbM.gnb-style-full{ 
		top:-100%; 
		right:0;
		width:100%; 
		height:100%;  
		max-width:none; 
	}
	#gnbM.gnb-style-full.open{
		top:0px; 
	}
	.gnb-style-full .gnb-navigation-wrapper{height:auto; width:100%; position:absolute; top:0px; bottom:0px; left:0; padding-top:0;}
	.gnb-style-full .header-util-menu-box + .gnb-navigation-wrapper{top:var(--header-height); }
	.gnb-style-full-member .gnb-navigation-wrapper{bottom:var(--header-height);}
	.gnb-style-full .gnb-navigation-inner{display:table; width:100%; height:100%;}
	.gnb-style-full #navigation{
		display:table-cell;
		vertical-align:middle;
	}
	.gnb-style-full #navigation > li{
		text-align:center; 
		border:0; 
		opacity:0;
		transform:translateY(-20px);
		transition:all 0s 0s;
	}
	.gnb-style-full #navigation > li:first-child {border:0}
	.gnb-style-full #navigation > li > a {}
	.gnb-style-full #navigation > li .gnb-icon i{display:none;}
	.gnb-style-full.open #navigation > li{
		opacity:1.0;
		transform:translateY(0px); 
		transition:transform 0.8s, opacity 0.8s;
	}
	.gnb-style-full.open #navigation > li:nth-child(1){transition-delay:0.3s;}
	.gnb-style-full.open #navigation > li:nth-child(2){transition-delay:0.4s;}
	.gnb-style-full.open #navigation > li:nth-child(3){transition-delay:0.6s;}
	.gnb-style-full.open #navigation > li:nth-child(4){transition-delay:0.7s;}
	.gnb-style-full.open #navigation > li:nth-child(5){transition-delay:0.9s;}
	.gnb-style-full.open #navigation > li:nth-child(6){transition-delay:0.9s;}
	
	/* -------- GNB Mobile :: 언어선택 및 회원메뉴 -------- */
	/* 언어선택 */
	.header-util-menu-box .lang-select{height:var(--header-height); display:flex; align-items:center; padding:0 var(--area-padding); }
	.header-util-menu-box .lang-select li{float:left; border:1px solid #e5e5e5; margin-left:-1px}
	.header-util-menu-box .lang-select li:first-child{margin-left:0;}
	.header-util-menu-box .lang-select li > a{position:relative; display:block; min-width:18px; text-align:center ; height:40px; line-height:40px; padding:0 10px; color:#555; font-size:12px; font-weight:500;}	
	.header-util-menu-box .lang-select li.cur{border-color:var(--main-color); position:relative; z-index:1;}
	.header-util-menu-box .lang-select li.cur a{color:var(--main-color); z-index:1;}

	/* -------- Header :: 네비게이션 오픈 버튼 -------- */
	.nav-open-btn{
		display:block; position:fixed; top:34px; right:var(--area-padding); z-index:10000; 
		width:32px; height:32px; display:flex; flex-wrap:wrap; align-items: center; justify-content: center; box-sizing:border-box; transition: transform 0.2s;
	}
	.nav-open-btn .line{
		display:block; width:28px; height:3px; background-color:#333; margin: 4px auto;
	    transition:var(--transition-custom); 
	}
	.nav-open-btn .dot{margin: 2.5px; width:5px; height:5px; background-color:#fff; border-radius: 100%; display:block;}
	.nav-open-btn .dot.color{position: relative; background-color: transparent; transition:var(--transition-custom);}
	.nav-open-btn .dot.color:before{position: absolute; top: 0; left: 0; content: ''; width: 5px; height: 5px; background-color: var(--main-color); border-radius: 5px; transition: width 0s;}
	/* active */
	.nav-open-btn.active{transform: rotate(45deg);}
	.nav-open-btn.active .dot:not(.color){opacity: 0;}
	.nav-open-btn.active .dot.color:before{width: 14px; transition: width 0.3s;}
	.nav-open-btn.active .dot2.color:before{transform: rotate(90deg); top: 4px; left: -2px;}
	.nav-open-btn.active .dot4.color:before{top: 1px; left: 1px;}
	.nav-open-btn.active .dot6.color:before{transform: rotate(180deg); top: 1px; left: -5px;}
	.nav-open-btn.active .dot8.color:before{transform: rotate(-90deg); top: -3px; left: -2px;}
}
@media all and ( min-width: 481px ) and ( max-width: 1280px ) {
	.nav-open-btn.active{right:20px;}
}
@media all and ( max-width: 480px ){
	#header .logo img{height:24px;}

	/* Header :: 사이트맵, 네비게이션 버튼 */
	.nav-open-btn{top:24px; margin-top:0;}
	/* Header :: GNB(Mobile) */
	#navigation > li > a{font-size:15px;}
	#navigation > li .gnb-2dep > ul > li > a{font-size:13px;}

	/* Header :: 언어선택 및 회원메뉴 */
	/* 언어선택 */
	.header-util-menu-box .lang-select li > a{height:38px; line-height:38px}
}

/* ****************** FOOTER ********************** */
@media all and (max-width:1700px){
	.foot-sns-menu{padding-right: 4rem;}
}
@media all and (max-width:1620px){
	.foot-sns-menu{padding-right: 6rem;}
}
@media all and (max-width:1280px){
	/* -------- FOOTER :: 레이아웃 -------- */
	#footerTop{padding:5.5rem 0 4.5rem;}
	.footer-left-con,.footer-right-con{float:none;}
	/* Footer :: 푸터로고 */
	.foot-logo{padding-bottom:4rem;}
	/* Footer :: 정보 style02 */
	.footer-address-list dl{display: flex; flex-wrap:wrap;}
	.footer-address-list + .footer-address-list,
	.footer-address-list dl + dl{margin-top: 1rem;}
	.footer-address-list dl dt,
	.footer-address-list dl dd{font-size:1.6rem; line-height:1.7; padding-right: 1rem;}
	.footer-address-list:first-child dl dt,
	.footer-address-list dl dt{width: 7.5rem;}
	.footer-address-list:first-child dl dd,
	.footer-address-list dl dd{width: calc(100% - 7.5rem);}
	/* Footer :: SNS 리스트 */
	.foot-sns-menu{padding-right: 0; margin-top: 3rem; text-align:left;}
	.foot-sns-menu li{margin-left: 2.5rem;}
	.foot-sns-menu li a i{font-size:2rem; line-height:4rem;}
	/* -------- FOOTER :: 하단 -------- */
	#footerBottom .area-box{padding-top: 3rem; padding-bottom: 7.5rem;}
	/* Footer :: 푸터메뉴 */
	.foot-menu li{padding-left:3.5rem; line-height:4rem;} 
	.foot-menu li a{font-size:1.5rem;}
	/* Footer :: Copyright */
	.footer-copyright{margin-top: 3.5rem; font-size:1.4rem; line-height: 1.3;}
}

/* ****************** SUB LAYOUT ********************** */
@media all and (max-width:1280px){
	#middleArea {padding-top: 100px;}
	#topMenu02{top: var(--header-height);}
	/*  SUB LAYOUT :: 컨텐츠 레이아웃 */
	#content:not(.wide){padding:10rem var(--area-padding)}
	#content.wide{padding:10rem 0 0 0}
	#content:not(.wide) #contentInfoCon{padding: 0;}
}
@media all and (max-width:800px){
	#middleArea {padding-top: 120px;}
	/*  SUB LAYOUT ::  서브메뉴(스타일1,2,3) */
	#topMenu01,
	#topMenu02,
	#topMenu03{display:none}
	
	/* -------- SUB LAYOUT :: 서브메뉴 모바일 -------- */
	#topMenuM{display:block; position:relative; height:var(--sub-menu-height);}
	#topMenuM .top-menu-wrapper{position:absolute; top:0; left:var(--area-padding); right:var(--area-padding); height:var(--sub-menu-height);}
	#topMenuM .top-menu-inner{position:relative; height:var(--sub-menu-height);}
	#topMenuM .menu-location{position:relative; box-sizing:border-box; width:100%;}
	#topMenuM .menu-location > .cur-location{position:relative; display:block; width:100%; text-align:left; height:var(--sub-menu-height); padding:0 2rem; padding-right: 5.5rem; box-sizing:border-box; background-color: #111; border-radius: var(--sub-menu-height);}
	#topMenuM .menu-location > .cur-location span{display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; line-height:var(--sub-menu-height); color:#fff; font-weight:700; font-size:2rem;}
	#topMenuM .menu-location > .cur-location .arrow{position:absolute; top:50%; right:1.5rem; width:20px; height:20px; margin-top:-10px; font-size:20px; color:#fff;}
	#topMenuM .menu-location .location-menu-con{display:none; position:absolute; top:100%; left:0; right:0; border:1px solid rgba(255,255,255,0.15);  background-color:#111; z-index:11; border-radius: 1rem;}
	#topMenuM .menu-location .location-menu-con li + li{border-top:1px solid rgba(255,255,255,0.15);}
	#topMenuM .menu-location .location-menu-con li a{display:flex; align-items:center; width:100%; height:35px; padding:0 2rem; font-size:1.6rem; line-height:1.5; color: #fff; opacity: 0.8; word-break:keep-all; box-sizing:border-box;}
	#topMenuM .menu-location .location-menu-con li.on{position:relative;}
	#topMenuM .menu-location .location-menu-con li.on a{opacity: 1; font-weight:700;}
	/* Home 버튼 있을때 */
	#topMenuM .location-to-home-btn + .top-menu-inner{padding-left:var(--sub-menu-height)}
	#topMenuM .location-to-home-btn{position:absolute; width:var(--sub-menu-height); height:var(--sub-menu-height); left:0px; top:0px; text-align:center; }
	#topMenuM .location-to-home-btn i{color:var(--main-color); font-size:20px; line-height:var(--sub-menu-height);}
	/* 2depth 있을때 */
	#topMenuM .menu-2dep{display:flex;}
	#topMenuM .menu-2dep .menu-location{width:50%; border-left:1px solid #ddd;}
	#topMenuM .menu-2dep .menu-location.loaction2{}
	#topMenuM .menu-2dep .menu-location .location-menu-con{border:1px solid #ddd; border-top:0; }
	/* Menu OPEN */
	#topMenuM .menu-location.open > .cur-location .arrow{transform:rotate(-180deg); margin-top:-10px;}

	/*  SUB LAYOUT :: 상단정보 (공통) */
	#contentInfoCon{margin:0 auto 60px;}
	#contentInfoCon .content-tit{padding: 0 3.5rem; font-size:4rem;}
	/* SUB LAYOUT :: 위치정보(location) */
	.location{padding-top:3rem; display: none;}
	.location li{font-size:1.6rem;}
	.location li i{font-size:2.4rem;}
	.location li:before{margin:0px 1.5rem; font-size:2.4rem;}

	/*  SUB LAYOUT :: 컨텐츠 레이아웃 */
	#content:not(.wide){padding:60px var(--area-padding)}
	#content.wide{padding:60px 0 0 0}
}

/* ****************** MODAL LAYERPOPUP ********************** */
@media all and ( max-width: 800px ){
	/* modal layer content */
	.footer-modal-content{width:auto; margin:50px 15px}
	.footer-modal-content h1{font-size:18px; text-align:left; padding:0 30px 15px 0}
	.modal-close-btn{right:-3px; top:-3px;}
	.modal-close-btn i{font-size:24px}
	.footer-inner-box{padding:15px}
	.footer-inner{padding:10px; height:250px;}
}